* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .container {
    padding: 15px;
  }
}
.container__header, .container__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .container__footer {
    flex-direction: column;
    align-items: start;
  }
}
.container__main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .container__main {
    flex-direction: column;
    margin-bottom: 20px;
    gap: 25px;
  }
}
.container__contacts, .container__networks {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 650px) {
  .container__contacts, .container__networks {
    flex-direction: column;
    gap: 30px;
  }
}

.header {
  padding: 32px 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media (max-width: 375px) {
  .header {
    padding: 25px 0px;
  }
}
.header .logo {
  display: block;
  text-decoration: none;
}
.header .logo img {
  width: 118px;
}
@media (max-width: 375px) {
  .header .logo img {
    width: 105px;
  }
}
.header .link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  transition: -webkit-text-decoration 0.3s linear;
  transition: text-decoration 0.3s linear;
  transition: text-decoration 0.3s linear, -webkit-text-decoration 0.3s linear;
}
@media (max-width: 375px) {
  .header .link {
    font-size: 16px;
  }
}
.header .link:hover {
  text-decoration: underline;
}

.background {
  background-color: #D9D9D9;
  height: 170px;
}

.main {
  margin-top: 45px;
}
@media (max-width: 768px) {
  .main {
    margin-top: 25px;
  }
}
.main .left-side {
  width: 50%;
}
@media (max-width: 768px) {
  .main .left-side {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main .left-side .teacher-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main .left-side .teacher-icon {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
@media (max-width: 450px) {
  .main .left-side .teacher-icon {
    width: 150px;
    height: 150px;
  }
}
.main .left-side .teacher-name {
  font-size: 34px;
  font-weight: 700;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .main .left-side .teacher-name {
    text-align: center;
  }
}
.main .left-side .button-start {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 13px 26px;
  margin-top: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s linear;
}
@media (max-width: 450px) {
  .main .left-side .button-start {
    padding: 9px 22px;
  }
}
.main .left-side .button-start:hover {
  background-color: #FF9130;
  color: #000;
}
.main .left-side .tag__list {
  margin-top: 27px;
  display: flex;
  gap: 12px;
}
@media (max-width: 400px) {
  .main .left-side .tag__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main .left-side .tag__list .tag__item {
  border-radius: 8px;
  padding: 6px 16px;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  background-color: rgba(167, 174, 184, 0.2);
}
.main .left-side .about-myself {
  margin-top: 25px;
}
.main .left-side .about-myself__header {
  color: #A8A8A8;
  font-weight: 500;
  font-size: 15px;
}
.main .left-side .about-myself__text {
  width: 90%;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  margin-top: 12px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .main .left-side .about-myself__text {
    width: 100%;
  }
}
.main .left-side .achievements, .main .left-side .education {
  margin-top: 25px;
}
.main .left-side .achievements__header, .main .left-side .education__header {
  color: #A8A8A8;
  font-size: 15px;
  font-weight: 500;
}
.main .left-side .achievements__list, .main .left-side .education__list {
  margin-top: 12px;
}
.main .left-side .achievements__item, .main .left-side .education__item {
  display: flex;
  align-items: start;
  gap: 5px;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.main .left-side .achievements__item::before, .main .left-side .education__item::before {
  content: url("images/icons/check.svg");
}
.main .left-side .achievements__item span, .main .left-side .education__item span {
  color: #A7AEB8;
}
.main .right-side {
  width: 50%;
}
@media (max-width: 768px) {
  .main .right-side {
    width: 100%;
  }
}
.main .right-side .video {
  background-color: #D9D9D9;
  width: 100%;
  height: 45%;
  border-radius: 32px;
}
.main .right-side .feedback {
  margin-top: 25px;
}
.main .right-side .feedback__header {
  color: #A8A8A8;
  font-size: 15px;
  font-weight: 500;
}
.main .right-side .feedback__summary {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .main .right-side .feedback__summary {
    flex-direction: column;
    gap: 15px;
  }
}
.main .right-side .feedback__summary-number {
  font-size: 50px;
  font-weight: 700;
  color: #000;
}
.main .right-side .feedback__stars {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.main .right-side .feedback__stars img {
  width: 20px;
  height: 20px;
}
.main .right-side .feedback__count {
  color: #A7AEB8;
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin-top: 15px;
}
.main .right-side .feedback__ratings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .right-side .feedback__ratings .ratings__item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main .right-side .feedback__ratings label {
  width: 10px;
  color: #A7AEB8;
  font-size: 13px;
  font-weight: 500;
}
.main .right-side .feedback__ratings progress {
  border: none;
  height: 6px;
}
@media (max-width: 375px) {
  .main .right-side .feedback__ratings progress {
    width: 100%;
  }
}
.main .right-side .feedback__ratings progress::-webkit-progress-bar {
  background-color: rgba(167, 174, 184, 0.2);
  border-radius: 30px;
}
.main .right-side .feedback__ratings progress::-webkit-progress-value {
  background-color: rgba(249, 146, 83, 0.6);
  border-radius: 30px;
}
.main .right-side .feedback__clients {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border-top: 1px solid rgba(167, 174, 184, 0.2);
}
.main .right-side .feedback__clients .feedback__client {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
@media (max-width: 500px) {
  .main .right-side .feedback__clients .feedback__client {
    flex-direction: column;
  }
}
.main .right-side .feedback__clients .feedback__client .client__info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.main .right-side .feedback__clients .feedback__client .client__info img {
  width: 55px;
  height: 55px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.main .right-side .feedback__clients .feedback__client .client__text {
  display: flex;
  flex-direction: column;
}
.main .right-side .feedback__clients .feedback__client .client__name {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}
.main .right-side .feedback__clients .feedback__client .client__role {
  color: #A7AEB8;
  font-size: 10px;
  padding: 4px 8px;
  font-weight: 400;
  background-color: rgba(167, 174, 184, 0.2);
  width: -moz-min-content;
  width: min-content;
  border-radius: 4px;
}
.main .right-side .feedback__clients .feedback__client .client__star {
  width: 20px;
  height: 20px;
}
.main .right-side .feedback__description {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: left;
}
@media (max-width: 500px) {
  .main .right-side .feedback__description {
    width: 100%;
    margin-top: 10px;
  }
}
.main .right-side .feedback__text {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin-top: 5px;
}
.main .contact, .main .network {
  border-top: 1px solid rgba(167, 174, 184, 0.2);
  padding: 40px 0px;
}
@media (max-width: 650px) {
  .main .contact, .main .network {
    padding: 20px 0px;
  }
}
.main .contact__header, .main .network__header {
  width: 50%;
  font-size: 28px;
  font-weight: 600;
  color: #000;
}
@media (max-width: 650px) {
  .main .contact__header, .main .network__header {
    width: 100%;
  }
}
.main .contact__info, .main .network__info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 650px) {
  .main .contact__info, .main .network__info {
    width: 100%;
  }
}
.main .contact__text, .main .network__text {
  color: #A8A8A8;
  font-size: 15px;
  font-weight: 400;
  width: 80%;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .main .contact__text, .main .network__text {
    width: 100%;
  }
}
.main .contact__links, .main .network__links {
  display: flex;
  gap: 25px;
}
@media (max-width: 500px) {
  .main .contact__links, .main .network__links {
    flex-direction: column;
    gap: 15px;
  }
}
.main .contact__mail, .main .contact__link, .main .network__mail, .main .network__link {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s linear;
}
.main .contact__mail:hover, .main .contact__link:hover, .main .network__mail:hover, .main .network__link:hover {
  color: #FF9130;
}

.footer {
  padding: 40px 0px 30px 0px;
  border-top: 1px solid rgba(167, 174, 184, 0.2);
}
@media (max-width: 650px) {
  .footer {
    padding: 20px 0px 10px 0px;
  }
}
.footer .logo {
  display: block;
  text-decoration: none;
}
.footer .logo img {
  width: 118px;
}
@media (max-width: 375px) {
  .footer .logo img {
    width: 105px;
  }
}
.footer .links {
  display: flex;
  gap: 30px;
}
@media (max-width: 650px) {
  .footer .links {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .footer .links {
    flex-direction: column;
    gap: 15px;
  }
}
.footer .links .link {
  font-size: 15px;
  font-weight: 400px;
  color: #A8A8A8;
  text-decoration: none;
  transition: color 0.3s, underline 0.3s linear;
}
.footer .links .link:hover {
  color: #000;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */